@font-face {
    font-family: CursedTimer;
    src: url("cursed-timer/CursedTimer.ttf");
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.container {
    display: flex;
    justify-content: space-evenly;
    background-color: #1B244A;
    height: 400px;
    width: 600px;
    margin: 20px auto;
    padding-top: 0;
}

.home-container {
    display: flex;
    flex-direction: column;
}

.away-container {
    display: flex;
    flex-direction: column;
}


h3 {
    font-weight: 700;
    font-size: 40px;
    color: #eee;
    /* margin-top: 60px;
    margin-bottom: 10px; */
    margin: 60px auto 20px;
    
}

#home-score-el {
    background-color: black;
    color: #F94F6D;
    min-width: 155px;
    height: 120px;
    font-size: 90px;
    font-family: CursedTimer;
    border-radius: 6px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#away-score-el {
    background-color: black;
    color: #F94F6D;
    min-width: 155px;
    height: 120px;
    font-size: 90px;
    font-family: CursedTimer;
    border-radius: 6px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btn-score {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.away-btn-score {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.btn {
    font-family: CursedTimer;
    height: 45px;
    width: 45px;
    background-color: #1B244A;
    border: 2px solid #9aabd8;
    color: #9aabd8;
    border-radius: 6px;
    
}